#top{
    width: 100%;
    height: 30px;
    font-size: x-small;
    background-color: #e1e8e5;
}
#nav1 a{
    margin-right: 20px;
    text-decoration: none;
}
#nav2 a{
    margin-right: 20px;
    text-decoration: none;
}
#nav1 a{color: black}
#nav2 a{color: black}
#nav1 a:hover{color: #F08503}
#nav2 a:hover{color: #F08503}
#nav1{
    position: absolute;
    left: 190px;
    top:0px;
}
#nav2{
    position: absolute;
    left: 725px;
    top:0px;
}
#center1{
    width: 100%;
    height: 220px;
    border: solid;
    border-color: white;
}
#legouwu{
    position: absolute;
    left: 155px;
    top: 77px;
}
#erweima{
    position: absolute;
    left: 1060px;
    top: 58px;
}
#input{
    padding: 6px 0;
    height: 22px;
    width: 472px;
    border: solid;
    border-color: #F08503;
    position: absolute;
    left: 363px;
    top: 137px;
}
#btn_search{
    font-size: 18px;
    font-weight: 700;
    color: #FFF;
    background-color: #F08503;
    cursor: pointer;
    height: 40px;
    border: none;
    width: 75px;
    position: absolute;
    left: 841px;
    top: 137px;
}
#shangpin{
    font-size: 14px;
    font-weight: 700;
    color: #FFF;
    background-color: #F08503;
    cursor: pointer;
    height: 30px;
    border: none;
    width: 55px;
    position: absolute;
    left: 363px;
    top: 108px;
}
#dianpu{
    font-size: 14px;
    font-weight: 700;
    color: #F08503;
    background-color: #e1e8e5;
    cursor: pointer;
    height: 30px;
    border: none;
    width: 55px;
    position: absolute;
    left: 418px;
    top: 108px;
}
#remensousuo{
    position: absolute;
    left: 365px;
    top: 186px;
}
#remensousuo a{
    text-decoration: none;
    font-size: x-small;
    margin-right: 15px;
}
#remensousuo a{ color:gray}
#remensousuo a:hover{color: #F08503}
#btn_collect{
    font-family: 微软雅黑;
    font-size: 14px;
    color: #FFF;
    background-color: #F08503;
    cursor: pointer;
    height: 25px;
    border: none;
    width: 68px;
    position: absolute;
    left: 162px;
    top: 295px;
}
#tu1{
    position: absolute;
    left: 162px;
    top: 355px;
}
#tu2{
    position: absolute;
    left: 372px;
    top: 355px;
}
#tu3{
    position: absolute;
    left: 582px;
    top: 355px;
}
#tu4{
    position: absolute;
    left: 792px;
    top: 355px;
}
#tu5{
    position: absolute;
    left: 1002px;
    top: 355px;
}
#center3{
    width: 100%;
    height: 110px;
    background-color: #F5F5F5;
    position: absolute;
    top: 690px;
}
#shkd li{
    float: left;
    list-style: none;
    margin-right: 100px;
}
#shkd{
    position: absolute;
    top: 20px;
    left: 120px;
}
#bottom{
    position: absolute;
    /*left: 50px;*/
    top: 835px;
    height: 500px;
    width: 100%;
}

#zuo1{
    position: relative;
    margin-top: 30px;
    margin-left: 180px;
    /*border: 1px solid;*/
    height: 210px;
    width: 150px;
}

#zuo2{
    position: relative;
    margin-top: -210px;
    margin-left: 350px;
    /*border: 1px solid;*/
    height: 210px;
    width: 150px;
}

#zuo3{
    position: relative;
    margin-top: -210px;
    margin-left: 520px;
    /*border: 1px solid;*/
    height: 210px;
    width: 150px;
}

#zuo4{
    position: relative;
    margin-top: -210px;
    margin-left: 690px;
    /*border: 1px solid;*/
    height: 210px;
    width: 150px;
}

#zuo5{
    position: relative;
    margin-top: -210px;
    margin-left: 860px;
    /*border: 1px solid;*/
    height: 210px;
    width: 150px;
}

#zuo6{
    position: relative;
    margin-top: -210px;
    margin-left: 1030px;
    /*border: 1px solid;*/
    height: 210px;
    width: 240px;
}
#zuo1 a{

    text-decoration: none;
    font-family: 黑体;
    font-size: 15px;
    color: black;

}
#zuo2 a{

    text-decoration: none;
    font-family: 黑体;
    font-size: 15px;
    color: black;

}
#zuo3 a{

    text-decoration: none;
    font-family: 黑体;
    font-size: 15px;
    color: black;

}
#zuo4 a{

    text-decoration: none;
    font-family: 黑体;
    font-size: 15px;
    color: black;

}
#zuo5 a{

    text-decoration: none;
    font-family: 黑体;
    font-size: 15px;
    color: black;

}
#zuo6 a{

    text-decoration: none;
    font-family: 黑体;
    font-size: 15px;
    color: black;

}
.shang{
    position: relative;
    margin-bottom: 15px;
    font-family: 黑体;
    font-size: 18px;
}
.shang1{
    position: relative;
    margin-bottom: 10px;
}
.shang2{
    position: relative;
    margin-top: -15px;
}
.shang3{
    position: relative;
    margin-top: -5px;
}
#dibu{
    position: relative;
    margin-top: 30px;
    margin-left: 175px;
    /*border: 1px solid;*/
    height: 210px;
    width: 80%;
    text-align: center;
    font-family: 黑体;
    font-size: 15px;
}

#dibu a{
    text-decoration: none;
    color: black;
}
#dibu a:hover{ color: #F08503;  }
#bottom a:hover{ color: #F08503;  }
#b li{
    list-style: none;
    float: left;
}
#b{
    position: absolute;
    left: 365px;
    top: 1285px;
}
.goods a{
    text-decoration: none;
}
.goods a{color: black}
.goods a:hover{
    color: #F08503;
    text-decoration: underline;
}