img {
    cursor: pointer;
}

#top {
    width: 100%;
    height: 30px;
    font-size: x-small;
    background-color: #e1e8e5;
}

#top a:hover {
    color: #F08503;
}

#nav1 a {
    margin-right: 20px;
    text-decoration: none;
}

#nav2 a {
    margin-right: 20px;
    text-decoration: none;
}

#nav1 a {
    color: black
}

#nav2 a {
    color: black
}

#nav1 {
    position: absolute;
    left: 190px;
    top: 0px;
}

#nav2 {
    position: absolute;
    left: 725px;
    top: 0px;
}

#center1 {
    width: 100%;
    height: 220px;
    border: solid;
    border-color: white;
}

#legouwu {
    position: absolute;
    left: 155px;
    top: 77px;
}

#erweima {
    position: absolute;
    left: 1060px;
    top: 58px;
}

#input {
    padding: 6px 0;
    height: 22px;
    width: 472px;
    border: solid;
    border-color: #F08503;
    position: absolute;
    left: 363px;
    top: 137px;
}

#btn_search {
    font-size: 18px;
    font-weight: 700;
    color: #FFF;
    background-color: #F08503;
    cursor: pointer;
    height: 40px;
    border: none;
    width: 75px;
    position: absolute;
    left: 841px;
    top: 137px;
}

#shangpin {
    font-size: 14px;
    font-weight: 700;
    color: #FFF;
    background-color: #F08503;
    cursor: pointer;
    height: 30px;
    border: none;
    width: 55px;
    position: absolute;
    left: 363px;
    top: 108px;
}

#dianpu {
    font-size: 14px;
    font-weight: 700;
    color: #F08503;
    background-color: #e1e8e5;
    cursor: pointer;
    height: 30px;
    border: none;
    width: 55px;
    position: absolute;
    left: 418px;
    top: 108px;
}

#remensousuo {
    position: absolute;
    left: 365px;
    top: 186px;
}

#remensousuo a {
    text-decoration: none;
    font-size: x-small;
    margin-right: 15px;
}

#remensousuo a {
    color: gray
}

#remensousuo a:hover {
    color: #F08503;
}

#yin {
    position: absolute;
    top: 340px;
    left: 150px;
    width: 202px;
    height: 400px;
    /*border: 1px solid black;*/
    z-index: 1;
    display: none;
}

.d {
    height: 36px;
    position: absolute;
    /*background-color:#01204f;*/
}

.hh {
    list-style-type: none;
    overflow: hidden;
    padding: 0px;
    cursor: pointer;
    margin-left: 150px;
}

#yin ul {
    list-style-type: none;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
    background-color: white;
}

#yin li {
    display: block;
    width: 200px;
    height: 20px;
    /* font-weight: bold; */
    color: white;
    background-color: #F08503;
    text-align: left;
    /* padding: 11px; */
    text-decoration: none;
    text-transform: uppercase;
    border: 3px solid #F08503;
    border-left: none;
    border-right: none;
    padding-bottom: 2px;
    padding-top: 5px;
    padding-left: 10px;
    font-size: 14px;
}

#yin li:hover,
#yin li:active {
    background-color: white;
    color: black;
    border: 3px solid #cb6f03;
}

.daohang:link,
.daohang:visited {
    display: block;
    width: 65px;
    height: 30px;
    /*font-weight:bold;*/
    color: black;
    background-color: white;
    text-align: center;
    padding: 8px;
    text-decoration: none;
    text-transform: uppercase;
    /*border:1px solid #01204f;*/
    border-left: none;
    border-right: none;
    padding-bottom: 0px;
    padding-top: 10px;
}

.daohang:hover,
.daohang:active {
    background-color: #cb6f03;
    color: white;
}

.daohang1:link,
.daohang1:visited {
    display: block;
    width: 180px;
    height: 30px;
    font-weight: bold;
    color: white;
    background-color: #F08503;
    text-align: center;
    padding: 11px;
    text-decoration: none;
    text-transform: uppercase;
    /*border:1px solid #01204f;*/
    border-left: none;
    border-right: none;
    padding-bottom: 0px;
    padding-top: 10px;
}

.daohang1:hover,
.daohang1:active {
    background-color: #cb6f03;
}

.d li {
    float: left;
    color: white;
}

#sousuo {
    position: absolute;
    top: 350px;
    left: 150px;
    /*border: 1px solid;*/
    width: 80%;
    height: 30px;
}

.xuanju {
    position: relative;
    margin-left: 76px;
    margin-top: -20px;
}

.yangshi {
    width: 90px;
    height: 25px;
    font-size: 15px;
}

.xuanju1 {
    position: relative;
    margin-left: 176px;
    margin-top: -24px;
}

.xuanju2 {
    position: relative;
    margin-left: 276px;
    margin-top: -26px;
}

.xuanju3 {
    position: relative;
    margin-left: 376px;
    margin-top: -23px;
}

.xuanju4 {
    position: relative;
    margin-left: 876px;
    margin-top: -17px;
    font-size: 13px;
}

.xuanju5 {
    position: relative;
    margin-left: 1000px;
    margin-top: -15px;
    font-size: 13px;
    cursor: pointer;
}

#pinpai {
    position: absolute;
    top: 400px;
    left: 150px;
    border: 1px solid #e2e2e2;
    width: 150px;
    height: 134px;
    font-size: 15px;
    padding: 8px;
}

#biaotou {
    position: absolute;
    top: 0px;
    left: 45px;
}

#hang1 {
    position: absolute;
    top: 25px;
    left: 80px;
}

.xuanze {
    position: relative;
    margin-left: 5px;
    cursor: pointer;
}

#hang1 a:hover {
    color: red;
}

#hang2 a:hover {
    color: red;
}

#hang3 a:hover {
    color: red;
}

#hang2 {
    position: absolute;
    top: 50px;
    left: 10px;
}

#hang3 {
    position: absolute;
    top: 75px;
    left: 10px;
}

#hanzi {
    position: absolute;
    top: 100px;
    left: 10px;
    border: 1px solid;
    font-size: 10px;
    text-align: center;
    width: 130px;
    height: 25px;
}

a {
    text-decoration: none;
    color: black;
}

#pinpaitu {
    position: absolute;
    top: 400px;
    left: 317px;
    border: 1px solid #e2e2e2;
    width: 748px;
    height: 150px;
}

#pinpaiyou {
    position: absolute;
    top: 400px;
    left: 1065px;
    border: 1px solid #e2e2e2;
    width: 133px;
    height: 150px;
    text-align: center;
    font-size: 12px;
}

#zhong1 {
    position: absolute;
    top: 600px;
    left: 148px;
    border: 1px solid #e2e2e2;
    width: 165px;
    height: 25px;
    text-align: center;
    padding-top: 10px;
    font-size: 14px;
}

#zhong2 {
    position: absolute;
    top: 600px;
    left: 314px;
    border: 1px solid #e2e2e2;
    width: 884px;
    /*padding-top: 10px;*/
    font-size: 14px;
    height: 35px;
}

#zhong2 li {
    float: left;
    list-style-type: none;
    margin-left: 50px;
    font-size: 12px;
    cursor: pointer;
}

#quanfen {
    position: absolute;
    top: 13px;
    left: 835px;
    /*padding-top: 10px;*/
    font-size: 12px;
    cursor: pointer;
}

#zhong3 {
    position: absolute;
    top: 636px;
    left: 148px;
    border: 1px solid #e2e2e2;
    width: 165px;
    height: 25px;
    text-align: center;
    padding-top: 10px;
    font-size: 14px;
}

#zhong4 {
    position: absolute;
    top: 636px;
    left: 314px;
    border: 1px solid #e2e2e2;
    width: 884px;
    height: 25px;
    padding-top: 10px;
    font-size: 14px;
}

#zhong4 li {
    float: left;
    list-style-type: none;
    margin-left: 30px;
    font-size: 12px;
    margin-top: -10px;
    cursor: pointer;
}

#queding {
    position: absolute;
    top: 14px;
    left: 585px;
    /*padding-top: 10px;*/
    font-size: 12px;
    cursor: pointer;
}

#zhong5 {
    position: absolute;
    top: 672px;
    left: 148px;
    border: 1px solid #e2e2e2;
    width: 165px;
    height: 25px;
    text-align: center;
    padding-top: 10px;
    font-size: 14px;
}

#zhong6 {
    position: absolute;
    top: 672px;
    left: 314px;
    border: 1px solid #e2e2e2;
    width: 884px;
    height: 25px;
    padding-top: 10px;
    font-size: 14px;
}

#zhong6 li {
    float: left;
    list-style-type: none;
    margin-left: 15px;
    font-size: 12px;
    margin-top: -10px;
    cursor: pointer;
}

#gengduo1 {
    position: absolute;
    top: 13px;
    left: 845px;
    /*padding-top: 10px;*/
    font-size: 12px;
    cursor: pointer;
}

#zhong7 {
    position: absolute;
    top: 708px;
    left: 148px;
    border: 1px solid #e2e2e2;
    width: 165px;
    height: 25px;
    text-align: center;
    padding-top: 10px;
    font-size: 14px;
}

#zhong8 {
    position: absolute;
    top: 708px;
    left: 314px;
    border: 1px solid #e2e2e2;
    width: 884px;
    height: 25px;
    padding-top: 10px;
    font-size: 14px;
}

#zhong8 li {
    float: left;
    list-style-type: none;
    margin-left: 15px;
    font-size: 12px;
    margin-top: -10px;
    cursor: pointer;
}

#zhong9 {
    position: absolute;
    top: 744px;
    left: 148px;
    border: 1px solid #e2e2e2;
    width: 165px;
    height: 25px;
    text-align: center;
    padding-top: 10px;
    font-size: 14px;
}

#zhong10 {
    position: absolute;
    top: 744px;
    left: 314px;
    border: 1px solid #e2e2e2;
    width: 884px;
    height: 25px;
    padding-top: 10px;
    font-size: 14px;
}

#zhong10 li {
    float: left;
    list-style-type: none;
    margin-left: 15px;
    font-size: 12px;
    margin-top: -10px;
    cursor: pointer;
}

#zhong2 li:hover {
    color: red;
}

#zhong4 li:hover {
    color: red;
}

#zhong6 li:hover {
    color: red;
}

#zhong8 li:hover {
    color: red;
}

#zhong10 li:hover {
    color: red;
}

#paihang {
    position: absolute;
    top: 800px;
    left: 135px;
}

#zhongyin {
    position: absolute;
    top: 815px;
    left: 355px;
    width: 845px;
    height: 50px;
    background-color: #e1e8e5;
}

.tuju {
    margin-left: -7px;
    margin-top: 15px;
}

.tuju1 {
    margin-left: 10px;
    margin-top: 15px;
}

#shouhuo {
    position: absolute;
    top: 20px;
    left: 210px;
    font-size: 13px;
}

#didian {
    position: absolute;
    top: 20px;
    left: 250px;
    font-size: 13px;
    background-color: white;
    height: 25px;
    width: 100px;
    text-align: center;
}

#che1 {
    position: absolute;
    top: 20px;
    left: 370px;
}

#shuang11 {
    position: absolute;
    top: 20px;
    left: 390px;
}

#che2 {
    position: absolute;
    top: 20px;
    left: 480px;
}

#che3 {
    position: absolute;
    top: 20px;
    left: 570px;
}

#che4 {
    position: absolute;
    top: 20px;
    left: 685px;
}

#che5 {
    position: absolute;
    top: 20px;
    left: 775px;
}

#shang1 {
    position: absolute;
    top: 885px;
    left: 138px;
    width: 195px;
    height: 40px;
    border: 1px solid #e2e2e2;
}

#rexiao {
    position: absolute;
    top: 10px;
    left: 15px;
}

#rexiaogengduo {
    position: absolute;
    top: 10px;
    left: 140px;
}

#zuoce1 {
    position: absolute;
    top: 926px;
    left: 138px;
    width: 195px;
    height: 250px;
    border: 1px solid #e2e2e2;
}

.zuodingwei {
    position: absolute;
    top: 20px;
    left: 26px;
}

.zuozi {
    position: absolute;
    top: 186px;
    left: 10px;
    font-size: 15px;
}

.jiage1 {
    position: absolute;
    top: 225px;
    left: 10px;
    color: red;
    font-size: 18px;
}

.mian {
    position: absolute;
    top: 225px;
    left: 120px;
}

#zuoce2 {
    position: absolute;
    top: 1224px;
    left: 138px;
    width: 195px;
    height: 250px;
    border: 1px solid #e2e2e2;
}

#zuoce3 {
    position: absolute;
    top: 1524px;
    left: 138px;
    width: 195px;
    height: 250px;
    border: 1px solid #e2e2e2;
}

#zuoce4 {
    position: absolute;
    top: 1824px;
    left: 138px;
    width: 195px;
    height: 250px;
    border: 1px solid #e2e2e2;
}

#zuoce5 {
    position: absolute;
    top: 2124px;
    left: 138px;
    width: 195px;
    height: 250px;
    border: 1px solid #e2e2e2;
}

#zuoce6 {
    position: absolute;
    top: 2424px;
    left: 138px;
    width: 195px;
    height: 250px;
    border: 1px solid #e2e2e2;
}

#you1 {
    position: absolute;
    top: 885px;
    left: 355px;
    width: 183px;
    height: 420px;
    /*border: 1px solid;*/
}

.zhongxiao {
    position: absolute;
    top: 225px;
}

.jiage2 {
    position: absolute;
    top: 295px;
    left: -4px;
    color: red;
    font-size: 20px;
}

.manjian {
    position: absolute;
    top: 295px;
    left: 135px;
}

.zhongzi {
    position: absolute;
    top: 330px;
    left: -1px;
    font-size: 15px;
    width: 200px;
}

.pinglun {
    position: absolute;
    top: 370px;
    cursor: pointer;
}

.shoucang {
    position: absolute;
    top: 370px;
    left: 140px;
    color: blue;
    cursor: pointer;
}

.dianpu {
    position: absolute;
    top: 400px;
    cursor: pointer;
}

#you2 {
    position: absolute;
    top: 885px;
    left: 575px;
    width: 183px;
    height: 420px;
    /*border: 1px solid;*/
}

#you3 {
    position: absolute;
    top: 885px;
    left: 797px;
    width: 183px;
    height: 420px;
    /* border: 1px solid;*/
}

#you4 {
    position: absolute;
    top: 885px;
    left: 1016px;
    width: 183px;
    height: 420px;
    /*border: 1px solid;*/
}

#you5 {
    position: absolute;
    top: 1350px;
    left: 355px;
    width: 183px;
    height: 420px;
    /*border: 1px solid;*/
}

#you6 {
    position: absolute;
    top: 1350px;
    left: 575px;
    width: 183px;
    height: 420px;
    /*border: 1px solid;*/
}

#you7 {
    position: absolute;
    top: 1350px;
    left: 797px;
    width: 183px;
    height: 420px;
    /*border: 1px solid;*/
}

#you8 {
    position: absolute;
    top: 1350px;
    left: 1016px;
    width: 183px;
    height: 420px;
    /*border: 1px solid;*/
}

#you9 {
    position: absolute;
    top: 1815px;
    left: 355px;
    width: 183px;
    height: 420px;
    /*border: 1px solid;*/
}

#you10 {
    position: absolute;
    top: 1815px;
    left: 575px;
    width: 183px;
    height: 420px;
    /*border: 1px solid;*/
}

#you11 {
    position: absolute;
    top: 1815px;
    left: 797px;
    width: 183px;
    height: 420px;
    /*border: 1px solid;*/
}

#you12 {
    position: absolute;
    top: 1815px;
    left: 1016px;
    width: 183px;
    height: 420px;
    /*border: 1px solid;*/
}

#you13 {
    position: absolute;
    top: 2280px;
    left: 355px;
    width: 183px;
    height: 420px;
    /*border: 1px solid;*/
}

#you14 {
    position: absolute;
    top: 2280px;
    left: 575px;
    width: 183px;
    height: 420px;
    /*border: 1px solid;*/
}

#you15 {
    position: absolute;
    top: 2280px;
    left: 797px;
    width: 183px;
    height: 420px;
    /*border: 1px solid;*/
}

#you16 {
    position: absolute;
    top: 2280px;
    left: 1016px;
    width: 183px;
    height: 420px;
    /*border: 1px solid;*/
}

#you17 {
    position: absolute;
    top: 2745px;
    left: 355px;
    width: 183px;
    height: 420px;
    /*border: 1px solid;*/
}

#you18 {
    position: absolute;
    top: 2745px;
    left: 575px;
    width: 183px;
    height: 420px;
    /*border: 1px solid;*/
}

#you19 {
    position: absolute;
    top: 2745px;
    left: 797px;
    width: 183px;
    height: 420px;
    /* border: 1px solid;*/
}

#you20 {
    position: absolute;
    top: 2745px;
    left: 1016px;
    width: 183px;
    height: 420px;
    /*border: 1px solid;*/
}

#you21 {
    position: absolute;
    top: 3210px;
    left: 355px;
    width: 183px;
    height: 420px;
    /*border: 1px solid;*/
}

#you22 {
    position: absolute;
    top: 3210px;
    left: 575px;
    width: 183px;
    height: 420px;
    /*border: 1px solid;*/
}

#you23 {
    position: absolute;
    top: 3210px;
    left: 797px;
    width: 183px;
    height: 420px;
    /*border: 1px solid;*/
}

#you24 {
    position: absolute;
    top: 3210px;
    left: 1016px;
    width: 183px;
    height: 420px;
    /*border: 1px solid;*/
}

#yeshu {
    position: absolute;
    top: 3650px;
    left: 500px;
    width: 700px;
    height: 50px;
    left: 500px;
    /* border: 1px solid;*/
}

#yeshu1 {
    position: absolute;
    top: 5px;
    left: 10px;
    width: 40px;
    height: 33px;
    font-size: 20px;
    text-align: center;
    color: white;
    background-color: #F08503;
    padding-top: 5px;
    cursor: pointer;
}

#yeshu2 {
    position: absolute;
    top: 5px;
    left: 60px;
    width: 40px;
    height: 33px;
    font-size: 20px;
    text-align: center;
    border: 1px solid;
    padding-top: 5px;
    cursor: pointer;
}

#yeshu3 {
    position: absolute;
    top: 5px;
    left: 110px;
    width: 40px;
    height: 33px;
    font-size: 20px;
    text-align: center;
    border: 1px solid;
    padding-top: 5px;
    cursor: pointer;
}

#yeshu4 {
    position: absolute;
    top: 5px;
    left: 160px;
    width: 40px;
    height: 33px;
    font-size: 20px;
    text-align: center;
    border: 1px solid;
    padding-top: 5px;
    cursor: pointer;
}

#yeshu5 {
    position: absolute;
    top: 5px;
    left: 200px;
    width: 40px;
    height: 33px;
    font-size: 20px;
    text-align: center;
    padding-top: 5px;
}

#yeshu6 {
    position: absolute;
    top: 5px;
    left: 240px;
    width: 40px;
    height: 33px;
    font-size: 20px;
    text-align: center;
    border: 1px solid;
    padding-top: 5px;
    cursor: pointer;
}

#yeshu7 {
    position: absolute;
    top: 5px;
    left: 290px;
    width: 40px;
    height: 33px;
    font-size: 20px;
    text-align: center;
    border: 1px solid;
    padding-top: 5px;
}

#yeshu8 {
    position: absolute;
    top: 5px;
    left: 340px;
    width: 150px;
    height: 33px;
    font-size: 20px;
    text-align: center;
    /*border: 1px solid;*/
    padding-top: 5px;
}

#yeshu9 {
    position: absolute;
    top: 5px;
    left: 485px;
    width: 40px;
    height: 33px;
    font-size: 20px;
    text-align: center;
    border: 1px solid;
    padding-top: 5px;
}

#yeshu10 {
    position: absolute;
    top: 5px;
    left: 535px;
    width: 40px;
    height: 33px;
    font-size: 20px;
    text-align: center;
    /* border: 1px solid;*/
    padding-top: 5px;
}

#yeshu11 {
    position: absolute;
    top: 5px;
    left: 585px;
    width: 65px;
    height: 33px;
    font-size: 20px;
    text-align: center;
    border: 1px solid;
    padding-top: 5px;
    cursor: pointer;
}

#keneng {
    position: absolute;
    top: 3730px;
    width: 854px;
    height: 30px;
    /*border: 1px solid;*/
}

#heng {
    position: absolute;
    top: 3800px;
}

#dida {
    position: absolute;
    top: 3900px;
    /*border: 1px solid;*/
    height: 500px;
    width: 100%;
}

#zuo1 {
    position: relative;
    margin-top: 30px;
    margin-left: 180px;
    /*border: 1px solid;*/
    height: 210px;
    width: 150px;
}

#zuo2 {
    position: relative;
    margin-top: -210px;
    margin-left: 350px;
    /*border: 1px solid;*/
    height: 210px;
    width: 150px;
}

#zuo3 {
    position: relative;
    margin-top: -210px;
    margin-left: 520px;
    /*border: 1px solid;*/
    height: 210px;
    width: 150px;
}

#zuo4 {
    position: relative;
    margin-top: -210px;
    margin-left: 690px;
    /*border: 1px solid;*/
    height: 210px;
    width: 150px;
}

#zuo5 {
    position: relative;
    margin-top: -210px;
    margin-left: 860px;
    /*border: 1px solid;*/
    height: 210px;
    width: 150px;
}

#zuo6 {
    position: relative;
    margin-top: -210px;
    margin-left: 1030px;
    /*border: 1px solid;*/
    height: 210px;
    width: 240px;
}

#zuo1 a {
    text-decoration: none;
    font-family: 黑体;
    font-size: 15px;
    color: black;
}

#zuo2 a {
    text-decoration: none;
    font-family: 黑体;
    font-size: 15px;
    color: black;
}

#zuo3 a {
    text-decoration: none;
    font-family: 黑体;
    font-size: 15px;
    color: black;
}

#zuo4 a {
    text-decoration: none;
    font-family: 黑体;
    font-size: 15px;
    color: black;
}

#zuo5 a {
    text-decoration: none;
    font-family: 黑体;
    font-size: 15px;
    color: black;
}

#zuo6 a {
    text-decoration: none;
    font-family: 黑体;
    font-size: 15px;
    color: black;
}

.shang {
    position: relative;
    margin-bottom: 15px;
}

.shang1 {
    position: relative;
    margin-bottom: 10px;
}

.shang2 {
    position: relative;
    margin-top: -15px;
}

.shang3 {
    position: relative;
    margin-top: -5px;
}

#dibu {
    position: relative;
    margin-top: 30px;
    margin-left: 175px;
    /*border: 1px solid;*/
    height: 210px;
    width: 80%;
    text-align: center;
    font-family: 黑体;
    font-size: 15px;
}

#dibu a {
    text-decoration: none;
    color: black;
}

#dibu a:hover {
    color: #F08503;
}

#dida a:hover {
    color: #F08503;
}

#b li {
    list-style: none;
    float: left;
    margin-left: 20px;
}

#b {
    position: absolute;
    left: 300px;
    top: 4325px;
}

#xin {
    position: absolute;
    top: 100px;
    left: 45px;
    width: 115px;
    height: 21px;
    border: 1px solid #e2e2e2;
    background-color: #eeeeee;
    font-size: 15px;
    border-left: none;
    font-size: 13px;
}

#lv {
    position: absolute;
    top: 100px;
    left: 4px;
    width: 40px;
    height: 23px;
    border: 1px solid #e2e2e2;
    background-color: #eeeeee;
    font-size: 15px;
    border-right: none;
}

#lvtu {
    position: absolute;
    top: 5px;
    left: 5px;
}

.cl1:hover {
    border: 1px solid red;
}

.zuodingwei:hover {
    border: 1px solid red;
}

.zuozi:hover {
    color: red
}

.zhongzi:hover {
    color: red
}

.dianpu:hover {
    color: red
}

#keneng a:hover {
    color: red
}
